*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(1, 280px);
  }
  
  .container_div {
    background-color: rgba(255, 255, 255, 0.034);
	border-radius: 10px 10px;
	box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
    padding: 1rem;
  }

.card_containerD{
	display: flex;
	width: 200px;
	height: auto;
	background: #fff;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2);
}

.header{
	border-right: 1px solid #ddd;
}
.descripcion{
	background: #fbfbfb;
}
.header, .descripcion{
	padding: 20px;
	text-align: center;
}
.header a{
	position: relative;
	display: block;
}
.header img{
	border-radius: 50%;
	box-shadow: 0 0 0 8px rgba(0,0,0,.06);
	margin: 20px 30px;
	transition: .2s;
}
.header a:hover img{
	box-shadow: 0 0 0 12px rgba(0,0,0,.3);
}
.header h2{
	color: #f0522a;
}
.header h4{
	margin-bottom: 20px;
}
.descripcion{
	position: relative;
}
.descripcion p{
	margin: 20px 30px;
}

.paginacion {
	margin:20px 0;
}
 
.paginacion ul {
	list-style:none;
	text-align: center;
}
 
.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}
 
.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}
 
.paginacion ul li a:hover {
	background:#037E8C;
}

.buttonStyle{
	margin:20px 0;
}
.buttonStyle ul {
	list-style:none;
	text-align: center;
}
 
.buttonStyle ul li {
	display:inline-block;
	margin-right:10px;
}
 
.buttonStyle ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}
 
.buttonStyle ul li a:hover {
	background:#037E8C;
}

@media(max-width: 640px){
	.card_containerD{
		display: block;
		width: 380px;
	}
	.header{
		padding: 20px 20px 5px 20px;
		border: none;
	}
	.descripcion{
		padding:  5px 20px 20px 20px;
		background: transparent;
	}
	.header h4{
		margin: 0;
	}

	.container {
        display: grid;
        padding: 1rem;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(4, 310px);
      }
}